<dom-module id="cells-iris-dashboard-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-iris-dashboard; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host p {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic; }

:host img {
  width: 15em;
  height: 11em;
  margin-top: 1em; }

.hidden {
  display: none; }

.card2 {
  width: 14em;
  display: inline-table;
  height: 27em; }

.search input {
  width: 13em;
  height: 1.9em;
  border-radius: 0.5em;
  border: 2px solid #448aff; }

.chuck img {
  width: 5em;
  height: 5em; }

</style></template></dom-module>