<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<link rel="import" href="cells-iris-dashboard-styles.html">
<dom-module id="cells-iris-dashboard">
  <script src="cells-iris-dashboard.js"></script>
</dom-module>